<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog post</title>
</head>
<body>
    <container>

        <nav>
            <a href="">My Blog Website</a>
            <a href="">user login</a>
            <p>last seen : </p>
            <a href="">create a new post </p>
            <form action="" method="post">
                <input type="text" id="search" name="search">
            </form>
        </nav>



        <main>

            <h2>Latest Posts</h2>
            <p>Posts created by different users</p>

            {% for blog in blogs %}
            <article>
            <h2>{{blog.title}}</h2>
            <p>{{blog.content}}</p>
            </article>
            {% endfor %}
            
    <!--
        https://flask.palletsprojects.com/en/2.2.x/quickstart/#rendering-templates 
        https://flask.palletsprojects.com/en/2.2.x/tutorial/blog/?highlight=loop 
    -->
            
        </main>

        <footer></footer>
    </container>


</body>
</html>