<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <main>
            <div class="login">
                <form action="/login" method="post">
                    <label for="username_login">Username</label><br>
                    <input type="text" id="username_login" name="username">
                    <input type="submit" value="Submit" id="submit_button">
                </form>
            </div>
        </main>
    </div>
    
</body>
</html>