<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/homepage">My Blog Website</a><br>
        </nav>
        <main>
            <div class="login">
                <form action="/login" method="post" id="form_login">
                    <label for="username_login">Username</label><br>
                    <input type="text" id="username_login" name="username">
                    <input type="submit" value="Submit" id="submit_button">
                </form>
            </div>
        </main>
    </div>



    <script src="{{url_for('static', filename='index.js')}}"></script>
    
</body>
</html>