<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <main>
        
            <h1>User profile page</h1>
            

            <section>
                <p class="firstname">Gabriel</p>
                <p class="lastname">Guerra</p>
                <p class="address">Switzerland</p>
                <p class="username">Gabedario</p>
                <p class="email">gabriel@gmail.com</p>
            </section>

            <section>
                <h2>User's posts </h2>
                <article>
                    <h2>New game realease</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam placeat debitis assumenda veritatis sed magni omnis blanditiis reprehenderit facere explicabo beatae quaerat, quos nostrum, repellat illo ad, consectetur quo.</p>
                </article>

                <article>
                    <h2>New game realease</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam placeat debitis assumenda veritatis sed magni omnis blanditiis reprehenderit facere explicabo beatae quaerat, quos nostrum, repellat illo ad, consectetur quo.</p>
                </article>

                <article>
                    <h2>New game realease</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam placeat debitis assumenda veritatis sed magni omnis blanditiis reprehenderit facere explicabo beatae quaerat, quos nostrum, repellat illo ad, consectetur quo.</p>
                </article>

                <article>
                    <h2>New game realease</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam placeat debitis assumenda veritatis sed magni omnis blanditiis reprehenderit facere explicabo beatae quaerat, quos nostrum, repellat illo ad, consectetur quo.</p>
                </article>
            </section>

        </main>
    </div>
</body>
</html>